.slider-container .box-title__h2 {
  color: #ffffff;
}

.slider-container {
  margin: 0 auto;
  max-width: 1920px; 
  
  background: #424245;
}
.slider-clients {
  min-height: 200px;
}

#slider {
  // border: 1px solid #000;
  //  max-width: 1200px;
}

