.slider-container .box-title__h2 {
  color: #ffffff;
}

.slider-container {
  margin: 0 auto;
  max-width: 1920px;
  background: #424245;
}
#slider {
  // border: 10px solid #000;
  display: flex;
  align-items: center;
  max-width: 1140px;
  min-height: 200px;
}
.slider-box_img {
  // border: 1px solid rgb(233, 221, 221);
}
.slider-box_img img {
  margin: 0 auto;
}
