html {
  font-size: 62.5%;
}
body {
  // max-width: 1920px;
  margin: 0;
  padding: 0;
  //  border: 2px solid #282729;
  font-family: 'Roboto', sans-serif;
}
$h2-fs: 2.5rem;
$f-base: 1.5rem;

.container {
  //  border: 2px solid rgb(0, 0, 0);
  max-width: 1440px;
}
.outline {
  // border: 1px solid red;
}
// =====имропт дугих стилей
@import 'header.scss';
@import 'style_js';
@import 'about_us6.scss';
@import 'items7.scss';
@import 'yellowbox10';
@import 'portfolio11';
@import 'clients12';
@import 'contact14.scss';
@import 'footer';

// ======

@media screen and (max-width: 960px) {
  .box-item-about-us div {
    background: #f3f3f3;
    text-align: justify;
    text-indent: 1.5rem;
  }

  .box-item-about-us {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    padding: 10px;
  }
}
